<div class="container p-5" *ngIf="tableVisibility">
  <div class="border border-dark rounded p-5">
    <button type="button" class="btn btn-sm btn-secondary" (click)="displayRegistrationForm()">New Person</button>
    <hr>


    <table class="table taable-striped table-hover" *ngIf="persons">
      <tr class="thead-light">
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Actions</th>
      </tr>

      <tr *ngFor="let p of persons">
        <td>{{ p.name }}</td>
        <td>{{ p.lastName }}</td>
        <td>{{ p.age }}</td>
        <td>{{ p.occupation }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-info" (click)="displayUpdateForm(p.id)">Update</button>
          <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>


